@model IEnumerable<Pedrinho.Models.Bug>



@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/mod.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.enigmaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuarioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th>
                 @Html.DisplayNameFor(model => model.resposta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.enigmaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuarioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.resposta)
            </td>
            
            <td>

                <a asp-action="Edit" asp-route-id="@item.bugId">Responder</a><br />
                <a asp-action="Details" asp-route-id="@item.bugId">Detalhar</a>

            </td>
        </tr>
        }
    </tbody>
</table>
