@model IEnumerable<Pedrinho.Models.Bug>



@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/mod.cshtml";
}

<body style="background-color:#222;">
</body>

<Center>
    <h2 class="titulos">Bugs</h2><br></br>


    <table class="table">
        <thead>
            <tr class="campoTxt">
                <th>
                    @Html.DisplayName("Id do Enigma")
                </th>
                <th>
                    @Html.DisplayName("Id do Usuário")
                </th>
                <th>
                    @Html.DisplayName("Descrição")
                </th>
                <th>
                    @Html.DisplayName("Resposta")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="campoTxt">
                    <td>
                        @Html.DisplayFor(modelItem => item.enigmaId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.usuarioId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descricao)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.resposta)
                    </td>

                    <td>

                        <a asp-action="Edit" asp-route-id="@item.bugId">Responder</a><br />
                       

                    </td>
                </tr>
            }
        </tbody>
    </table>
</Center>