@model Pedrinho.Models.Usuario

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/admin.cshtml";
}
<body style="background-color:#222;">
</body>

<center>
    <h2 class="titulos">Detalhes do Usuario @Html.DisplayFor(model => model.nome)</h2>
</center>
    
<div>

    <hr />
    <dl class="dl-horizontal campoTxt">
        <dt>
            @Html.DisplayNameFor(model => model.nome):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.email):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.senha):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.senha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tipoAcesso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tipoAcesso)
        </dd>
    </dl>
</div>
<center>
    <div>
        <a asp-action="Index" class="btnVoltar">
            <input type="button" value="Voltar" class="btnVoltar" />
        </a>
        <a asp-action="Edit" asp-route-id="@Model.usuarioId">
            <input type="button" value="Editar" class="btnSalvar" />
        </a> |
    </div>
</center>
