@model IEnumerable<Pedrinho.Models.Usuario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/admin.cshtml";
}
<body style="background-color:#222;">
</body>

<center>
    <h2 class="titulos">Lista de Usuarios</h2>
</center>

<table class="table">
    <thead>
        <tr class="campoTxt">
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.senha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="campoTxt">
            <td >
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.senha)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.usuarioId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.usuarioId">Detalhar</a> |
                <a asp-action="Delete" asp-route-id="@item.usuarioId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
